
<div style="overflow-x: hidden">
<!--NAVAGATION BAR -->
<nav class="navbar navbar-expand-lg fixed-top navbar-transparent nav-down" color-on-scroll="500">
    <div class="container">
        <div class="navbar-translate">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Augment</a>
            </div>
            <!--SLIDE NAV-->
            <button style="color: black" class="navbar-toggler navbar-burger" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarTogglerDemo02" aria-expanded="false"
                    aria-label="Toggle navigation">
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
                <span class="navbar-toggler-bar"></span>
            </button>
        </div>
        <div class="collapse navbar-collapse">
            <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                    <a class="nav-link" href="#about" data-scroll="true"
                       style="color: #FFFFFF">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#contact" data-scroll="true"
                       style="color: #FFFFFF">Contact us</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


<!--PARALAX AND PAGES-->
<div id="countText" class="page-header" data-parallax="true"
     style="background-image: url('https://static.pexels.com/photos/218983/pexels-photo-218983.jpeg'); background-position: center; background-repeat: no-repeat; background-size: cover;">
    <div class="filter"></div>
    <div class="content-center">
        <div class="container">
            <div class="motto">
                <img class="img-fluid" src="Logo.svg">
                <h1 class="animated bounce"
                    style="font-family: Montserrat; font-weight: 600; font-size: 14px;-webkit-font-smoothing: antialiased; text-transform: uppercase; height: 23px; margin-top: 4px;">
                    Bringing riders and drivers together</h1>
                <img src="applestoresoon.svg" style="width: 200px; height: 68px;">
            </div>
        </div>
    </div>

</div>

<div class="wrapper">
    <div class="section text-center landing-section">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto">
                    <h2 class="title"
                        style="font-family: Montserrat; font-weight: 600;-webkit-font-smoothing: antialiased; text-transform: uppercase;">
                        About our product</h2>
                    <h5 style="font-family: Montserrat; font-weight: 600; font-size: 14px;-webkit-font-smoothing: antialiased; text-transform: uppercase;">
                        Augment utilizes your phone camera to track your Lyft or Uber driver in real time and the real world so you can spend less time worrying about where your driver is and more time worrying about how late you are to that party.</h5>
                    <a href="/#sf" class="btn btn-primary btn-fill btn-round">See Details</a>
                </div>
            </div>
            <br/><br/>
            <div class="row">
                <div class="col-md-3">
                    <div class="info">
                        <div class="description">
                            <h4 class="info-title">Technology</h4>
                            <p class="description">Uses camera and motion data in collaboration with AR (Augmented Reality) to map out your route in comparison with the world around you.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="description">
                            <h4 class="info-title">Guide</h4>
                            <p>Virtual guides accompany users during their route from pickup to drop-off point.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="description">
                            <h4 class="info-title">Explore</h4>
                            <p>Track your driver’s route to your location in the real-world with AR. Utilize Augment to make travel and exploration more efficient and accurate.</p>
                        </div>
                    </div>
                </div>
                <div class="col-md-3">
                    <div class="info">
                        <div class="description">
                            <h4 class="info-title">Routes</h4>
                            <p>Users will be able to switch between the AR and regular 2-D map at will.</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>

    <div class="page-header" id="sf" data-parallax="true"
         style="background: url('final.svg') no-repeat center;background-size: cover;">
        <div class="filter"></div>
        <div class="content-center">
            <div class="container">
                <div class="motto">
                    <h1 style=" font-family: Montserrat; font-weight: 600; font-size: 14px; text-transform: uppercase; height: 23px; margin-top: 4px;">
                        “Augment helps compare Lyft and Uber fares to dynamically
                        <br>find the cheapest ride for you every
                        time.<br> You can also track your ride from your current location
                        <br>to your destination while getting
                        <br>relevant info about your trip throughout your ride.” </h1>
                </div>
            </div>
        </div>

    </div>

<!--ABOUT US-->
<div id="about" class="section section-dark text-center landing-section">
    <div class="container">
        <img class="img-fluid" src="Logo.svg" style="margin-bottom: 34px;">
        <h5 style="font-family: Montserrat; font-weight: 600; font-size: 14px;-webkit-font-smoothing: antialiased; text-transform: uppercase; color: #ffffff">
            Improving the Ride-Sharing Experience</h5>
        <div class="row">
            <div class="col-md-8 ml-auto mr-auto">
                <h2 class="title"
                    style="font-family: Montserrat; font-weight: 500;-webkit-font-smoothing: antialiased; text-transform: uppercase;">
                    About us</h2>
            </div>
        </div>
        <div class="row">
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#"><img src="/rohan.jpg" alt="..." class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <div class="author">
                                <h4 class="card-title">Rohan Mishra</h4>
                                <h6 class="card-category text-muted">Head of Product</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Rohan Mishra is currently a Junior Web Developer at Make School based in San Francisco, CA. Before Make School, Rohan was introduced to product design by gaining experience shipping apps and websites.
                            Motivated by challenges, Rohan is tackling his first AR application with the creation of Augment.
                            He is eager to hone his skill set with execution of Augment as he kickstarts his career in the AR/VR industry.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="https://twitter.com/meeshbhoombah" class="btn btn-link btn-just-icon btn-twitter"><i
                                class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/aboutrohan/"
                           class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#"><img src="/elliot.jpg" alt="..." class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <div class="author">
                                <h4 class="card-title">Elliot Briant</h4>
                                <h6 class="card-category text-muted">Lead Back-end Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Elliot is currently a Junior Web Developer at Make School based in San Francisco, CA.
                            Elliot is a creative and ambitious software developer. Elliot approaches Augment as an opportunity to utilize his experience with a variety of Web-based languages and server integration.
                            Augment presents Elliot with the chance to undertake a new role as front-end engineer, which will further develop his expertise and provide him with the perfect combination of challenge, inspiration, and growth.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/briantoliveira/"
                           class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#"><img src="/willie.png" alt="..." class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <div class="author">
                                <h4 class="card-title">Willie Johnson</h4>
                                <h6 class="card-category text-muted">Lead IOS Developer</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            Willie is currently a Junior iOS Developer at Make School based in San Francisco, CA.
                            Throughout his career, Willie has been exposed to both game and mobile development.
                            Under his current firm, Willie has grown and continues to grow professionally and technically due to his interest and willingness to exceed expectations as a developer breaking into technical industry.

                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/willie-j-208248101/"
                           class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>
            <div class="col-md-3">
                <div class="card card-profile card-plain">
                    <div class="card-avatar">
                        <a href="#"><img src="/tj.jpg" alt="..." class="img-fluid"></a>
                    </div>
                    <div class="card-body">
                        <a href="#">
                            <div class="author">
                                <h4 class="card-title">TJ King</h4>
                                <h6 class="card-category text-muted">Marketing Director</h6>
                            </div>
                        </a>
                        <p class="card-description text-center">
                            TJ is currently a Junior iOS Developer at Make School based in San Francisco, CA.
                            She combines her extensive background in mobile development and marketing to support the Augment team in every facet relating to press, advertising and promotions.
                            She is dedicated to utilizing her attention to detail, growth-mindset, and adaptability to implement successful marketing campaigns for Augment.
                        </p>
                    </div>
                    <div class="card-footer text-center">
                        <a href="#" class="btn btn-link btn-just-icon btn-twitter"><i class="fa fa-twitter"></i></a>
                        <a href="https://www.linkedin.com/in/tiajking/"
                           class="btn btn-link btn-just-icon btn-linkedin"><i class="fa fa-linkedin"></i></a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<div id="contact" class="main">
    <div class="section section-gray">
        <div class="container">
            <div class="row">
                <div class="col-md-8 ml-auto mr-auto text-center">
                    <h2 class="title"
                        style="font-family: Montserrat; font-weight: 600;-webkit-font-smoothing: antialiased; text-transform: uppercase;">
                        Get in touch with us</h2>
                    <p>“If you have a suggestion, want to request more information or need a question answered, the Augment team is eager and ready to help.”</p>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6 ml-auto mr-auto text-center">
                    <form class="contact" method="POST" action="/contact" role="form">
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="first_name" name="first_name" class="form-control" placeholder="First Name"
                                       style="margin-top: 10px; margin-bottom: 7px;">
                            </div>
                            <div class="col-md-6">
                                <input type="text" id="last_name" name="last_name" class="form-control" placeholder="Last Name"
                                       style="margin-top: 10px; margin-bottom: 7px;">
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-6">
                                <input type="text" id="email" name="email" class="form-control" placeholder="Email" style="margin-bottom: 7px;">
                            </div>
                            <div class="col-md-6">
                                <input type="text"  id="subject" name="subject" class="form-control" placeholder="Subject"
                                       style="margin-bottom: 7px;">
                            </div>
                        </div>
                        <textarea class="form-control" id="body" name="body" placeholder="Message" rows="7"
                                  style="margin-bottom: 14px;"></textarea>

                        <div class="row">
                            <div class="col-md-6 ml-auto mr-auto">
                                <button class="btn btn-primary btn-block btn-round" type="submit"
                                        style="margin-bottom: 9px;">Send
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<!--Footer-->
    <footer class="footer section-dark">
        <div class="container">
            <div class="row">
                <div class="wow bounceInUp">
                <nav class="footer-nav">
                    <ul style="width:700px; margin:0 auto;">
                        <li style="display: inline-block;"><a href="https://www.augmentapp.io/">Augment © </a></li>
                        <li><a href="https://twitter.com/rideAugment" class="btn btn-just-icon btn-twitter" style="border-radius: 50%; border-style: solid; border-width: 2px; color: deepskyblue; background-color: transparent; border-color: #c0c0c0; height: 40px; width: 40px;padding: 8px"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="https://www.facebook.com/augmentapp/" class="btn btn-just-icon btn-facebook" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px; color: #0B67E7; background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="https://www.instagram.com/augmentapp/" class="btn btn-just-icon btn-instagram" style="border-radius: 50%; border-style: solid; border-width: 2px; height: 40px; width: 40px;padding: 8px ;color:#893dc2;background-color: transparent;border-color: #c0c0c0;"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </nav>
                </div>
            </div>
        </div>
    </footer>
</div>

<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us9.list-manage.com","uuid":"0bff06296cf4f639d29c92798","lid":"b8bbb0179b"}) })</script>
<script>
    var socket = io(':3001');
    socket.emit('test', "DOG")
</script>